/* CSS Document */

/* Colors */

/*
#000000
#121212
#181818
#202020
#303030
#6f6f6f
#909090
$aaaaaa

*/

/* General */

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10px;
}

a:visited, a:link {
  color: unset;
  text-decoration: none;
}

button {
  background-color: unset;
  border: unset;
  color: white;
  padding: unset;
}

input {
  background-color: #121212;
  border: 1px solid #303030;
}

body {
  margin: 0;
  background-color: #111111;
  color: white;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 3px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
  color: #aaaaaa;
  margin: 0;
}

/* Page structure */

header {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  top: 0;
}

header, #video>iframe {
  width: 100vw;
  position: fixed;
  z-index: 100;
}

header>nav {
  width: 204px;
}

header>nav>ul {
  float: right;
  display: flex;
}

header, main>section>* {
  padding: 0 0 0 12px;
}

header>div:first-of-type>button {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav>ul>li, #menu-button {
  padding: 12px;
  height: 48px;
  width: 48px;
}

#logo {
  height: 22px;
}

#search-form {
  display: none;
  /* display: flex; */
}

#search-form>input {
  height: 32px;
  padding: 0 10px;
  font-size: medium;
  font-weight: 400;
  border-radius: 2px 0 0 2px;
  width: 30vw;
}

#search-form>button {
  background-color: #303030;
  border: 1px solid transparent;
  width: 77px;
  border-radius: 0 2px 2px 0;
  color: white;
}

/* Video page */

main#video-page {
  justify-content: center;
  margin-top: calc(25vh + 48px);
}

#video iframe {
  padding: unset;
  top: 48px;
  height: 25vh;
}

.video-stream html5-main-video {
  height: 333px;
}

#video-info {
  font-size: 12px;
  color: #aaaaaa;
  padding: 12px;
}

#video-info>div {
  display: flex;
}

#video-info button {
  width: 24px;
  height: 24px;
}

#video-date {
  display: none;
}

#video-options ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#video-options li>button {
  color: #aaaaaa;
  font-weight: bold;
  font-size: 12px;
}

#video-options li>button>i {
  width: 36px;
  height: 36px;
  padding: 8px;
  display: block;
}

#share {
  transform: scale(-1, 1);
}

#video-options {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#video-options i {
  font-size: 24px;
}

#video-options span {
  margin-top: 7px;
}

#video-options h3 {
  margin-bottom: 3px;
}

#channel-info {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#channel-info>a {
  display: flex;
}

#channel-info img {
  height: auto;
  width: 34px;
  margin-right: 12px;
}

#channel-info h3 {
  margin-bottom: 3px;
}

#subscribe-button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  color: #ff4e45;
  padding: 0.7em 0.57em;
  border-radius: 2px;
}

#subscribe-button, #comment-submit {
  margin: -0.7em -0.57em;
}

#recommendations {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 12px;
}

#first-recommendation>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  padding-right: 12px;
}

.recommendation {
  width: 100%;
  display: flex;
  color: #aaaaaa;
  margin-top: 12px;
  padding-right: 12px;
}

.recommendation>div:first-of-type {
  position: relative;
}

.recommendation img {
  width: 168px;
  height: 94px;
}

.recommendation>div:last-of-type {
  padding: 0 8px;
  font-size: 13px;
}

.recommendation img {
  width: 160px;
  height: 90px;
}

.recommendation-length {
  background-color: #00000080;
  color: white;
  border: 2px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.recommendation h3 {
  margin-top: 0;
  font-size: 14px;
}

.toggler {
  font-size: 13px;
  color: white;
  align-items: center;
  display: flex;
}

.toggler>button {
  position: relative;
  margin-left: 8px;
}

.toggler-bar {
  display: block;
  background-color: #606060;
  border-radius: 10px;
  margin: 4px 1px;
  width: 40px;
  height: 20px;
}

.toggler-button {
  position: absolute;
  display: block;
  top: 0px;
  background-color: #00000080;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 4px 0;
}

#comment-header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

#comment-form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 12px 0;
  padding: 0;
}

#comment-form textarea {
  font-size: 1.4rem;
  width: 100%;
  background-color: #111111;
  padding: 6px;
  border: 1px solid hsla(0, 0%, 100%, 0.10);
  min-height: 8.4rem;
}

#comment-form>form>div:first-of-type {
  display: flex;
}

#comment-form>form>div:last-of-type {
  display: flex;
  justify-content: flex-end;
}

#comment-form i {
  font-size: 48px;
  padding-right: 8px;
}

#comment-form button {
  padding: 0.7em 0.57em;
}

#comment-form button, .comment button {
  text-transform: uppercase;
}

#comment-submit, .comment button {
  color: #2793e6;
}

#comments {
  padding: 12px;
}

.comment {
  display: flex;
  padding: 16px 12px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.10);
}

.comment>a>img {
  height: 48px;
}

.comment>div {
  padding: 0 8px;
}

.comment>div>p {
  margin: 4px 0;
  font-size: 1.4rem;
}

.comment-details {
  display: flex;
}

.comment p {
  color: white;
}

.comment-details i {
  font-size: 16px;
}

.comment>div>button {
  padding: 0.7em 0.57em;
  margin-top: 16px;
}

.comment-details p {
  margin-right: 4px;
}

.comment-details button {
  color: #969696;
  padding: 0;
  display: flex;
  font-size: 11px;
  margin-right: 12px;
}

.comment-details button:first-of-type {
  margin-left: 0;
}

.comment-details button i {
  margin-right: 4px;
}

/* Subscriptions page */

main#subscriptions-page {
  justify-content: center;
  margin-top: 48px;
}

main#subscriptions-page>section>* {
  padding: 0;
}

#subscriptions {
  justify-content: space-between;
  align-items: center;
}

#subscriptions>a {
  color: #2793e6;
  height: 40px;
  width: 40px;
  padding: 8px;
}

#subscriptions, #subscriptions ul {
  display: flex;
}

#subscriptions ul>li {
  margin: 8px;
}

#subscriptions ul>li>i {
  font-size: 32px;
}

#subscriptions ul>li>p {
  font-size: 30px;
  color: #2793e6;
  line-height: 5px;
  text-align: center;
}

.subscription-video>div:first-of-type {
  position: relative;
}

.subscription-video>div:first-of-type img {
  width: 100%;
  height: 212px;
}

.subscription-video>div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin: 12px 0 24px;
}

.subscription-video>div:last-of-type i:first-of-type {
  font-size: 40px;
}

.subscription-video>div:last-of-type>div {
  margin-left: 12px;
}

.subscription-video>div:last-of-type i:last-of-type {
  padding: 8px;
  width: 40px;
  height: 40px;
}

.subscription-video>div:first-of-type .recommendation-length {
  position: absolute;
  bottom: 9px;
}